<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://img.freepik.com/photos-premium/bobine-film-retro-fond-brulure_271825-14.jpg?w=1480);">
  <div class="container">
    <h1><%= @list.name %></h1>
  </div>
</div>

<div class="container">
  <%= link_to 'Add a movie', new_list_bookmark_path(@list), class: "btn btn-flat my-4" %>

  <div class="movies-grid mb-4">
    <% @list.movies.each do |movie| %>
      <div class="card-movie">
        <%= image_tag movie.poster_url %>
        <div class="card-movie-infos">
          <div>
            <h2><%= movie.title %></h2>
            <p><%= movie.overview %></p>
          </div>
          <% movie.bookmarks.each do |bookmark| %>
            <h2 class="card-movie-delete"><%= link_to "Delete", bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></h2>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
